.or_price{
    text-decoration: line-through;
    color: red;
}
.price_div{
    display: grid;
    gap: none;
}
.price_div>p{
    margin-top: -10px;
}
#thead{
    background-color: rgb(225, 225, 225);
}

.input{
    width: 20px;
}
.subtotal{
    display: flex;
    gap: 30px;
    align-items: center;
}
.all{
    text-align: center;
}
#basket{
    display: flex;
    gap: 10px;
}
#basket>div:first-child{
    display: grid;
    align-content: space-around;
}
#basket>div:last-child{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
#basket>div:last-child>div:first-child{
    height: 60%;
    padding: 5px;
    display: flex;
}
#basket>div:last-child>div:first-child>div:first-child{
    width: 80%;
}
#basket>div:last-child>div:first-child>div:first-child>div:first-child{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
#basket>div:last-child>div:first-child>div:first-child>div:last-child>div:first-child{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#basket>div:last-child>div:last-child{
    display: grid;
    align-content: flex-end;
}
#basket>div:last-child>div:last-child>div:first-child{
    display: grid;
    justify-content: end;
}
#basket>div:last-child>div:last-child{
    height: 40%;

}
#all_cart{
    display: grid;
    justify-content: center;
    background-color: rgb(205, 205, 205);
}
#cart{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    width: 100%;
}
.red{
    color: red;
}
.green{
    color: green;
}
.red_b{
    color: red;
    border: 2px solid red;
}
.green_b{
    color: green;
    border: 2px solid green;
}
#u_saved{
    border-radius: 30px;
    width: 100px;
    margin-left: 20px;
}
.hover:hover{
    cursor: pointer;
    transform: scale(1.5);
}

#thead>tr>th{
    color: blueviolet;
    padding: 10px;
}
#checkout{
    height: 30px;
    border-radius: 20px;
    background-color: rgb(105, 105, 234);
    color: black;
}
#checkout:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#continue_shop,#continue_shop1{
    border-radius: 20px;
    background-color: aqua;
    height: 30px;
    color: black;
}
#continue_shop:hover,#continue_shop1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#empty{
    border-radius: 20px;
    background-color: red;
    color: black;
    height: 30px;
    
}
#empty:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#Cart_empty{
    display: grid;
    justify-content: center;
}