
#main_box{
    display: grid;
    width: 60%;
    gap: 20px;
    border: 2px solid rgb(220, 219, 219);
}
#add_address{
    height: 50px;
    background-color: white;
    border: 2px solid rgb(235, 233, 233);
    border-radius: 20px;
}
#add_address:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid green;
}
#outer_box{
    display: grid;
    justify-items: center;
}
#address{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px 10px;
    flex-wrap: wrap;
}
.deliver{
    width: 100%;
    border: none;
}
.deliver:hover{
    border: 2px solid green;
    background-color: green;
    cursor:pointer;
}
.div{
    display: grid;
    align-content: space-between;
    margin: 20px;
    border: 2px solid rgb(238, 238, 238);
}
*{
    font-size: small;
}
.div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid green;
    cursor:pointer;
}
.p{
    margin: 0;
    padding-left: 10px;
}
#d_add{
    display: flex;
    height: 50px;
    justify-content: space-between;
}
#ch_add{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    border: 2px solid rgb(203, 203, 203);
    width: 800px;
}
#done{
    display: flex;
    justify-content: center;
}
#shipment_outer{
    display: grid;
    border: 2px solid rgb(203, 203, 203);
}
#shipment_options{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
#list{
    display: flex;
}
#shipment_options>div:hover{
transform: scale(1.1);
cursor: pointer;
color: black;
border:2px solid rgb(203, 203, 203); 
background-color: rgb(203, 203, 203);
}
#continue{
    display: flex;
    justify-content: end;
}
#continue>button{
width: 150px;
height: 30px;
background-color: rgb(111, 165, 111);
border: 2px solid green;
color: black;
}
#continue>button:hover{
    transform: scale(1.1);
}
#shipment_outer{
    display: grid;
    width: 800px;
    justify-content: center;
}
#temp_shipment{
    display: flex;
    justify-content: space-between;
    margin:20px 350px 0 350px;
    border: 2px solid rgb(203, 203, 203);
}
#ship_outermost{
display: grid;
justify-content: center;
}
#sh_but{
    display: grid;
    width: 120px;
    border: none;
    align-items: center;
    background-color: white;
    
}
#sh_but:hover{
    transform: scale(1.1);
}
#pay_outer{
    display: grid;
    justify-content: center;
}
#payment{
    display: grid;
    width: 800px;
}
#pay_inner{
    display: flex;
    column-gap: 20px;
    width: 100%;
}
#pay_meyhods{
    display: grid;
    gap: 10px;
    width: 20%;
}
#pay_boxes{
    display: grid;
    width: 70%;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#box_in_upi{
    display: grid;
    gap: 10px;
    
}
#box_in_upi>*{
    margin: none;
    padding: none;
}
#box_in_upi>div>input{
    width: 300px;
}
#box_in_upi>div>button{
    width: 100px;
    height: 30px;
    background-color: rgb(119, 168, 119);
    border: 2px solid green;
    color: black;
    margin-left: 50px;
}
#box_in_upi>div>button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#Card{
    display: grid;
    gap: 10px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#Card>div>button{
    width: 150px;
    height: 40px;
    background-color: rgb(119, 168, 119);
    border: 2px solid green;
    color: black;
    margin-left: 50px;
}
#cash_on>div>button{
    width: 150px;
    height: 40px;
    background-color: rgb(119, 168, 119);
    border: 2px solid green;
    color: black;
    margin-left: 50px;
}
#Card>div{
    display: grid;
    gap: 20px
}
#cash_on{
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#pay1_outer{
    display: flex;
    justify-content: center;
    margin:20px 350px 0 350px;
    border: 2px solid rgb(203, 203, 203);
}
#pay1_outer>div{
    display: grid;
    width: 800px;
    justify-content: flex-start;
}
#list>img,#list1>img,#list2>img,#list3>img{
    width: 50px;
    height: 50px;
}
#pay_3{
    display: grid;
    justify-content: center;
}
#place_order_card:hover,#place_order_cash:hover{
    cursor: pointer;
    transform: scale(1.1);
}