*{
    font-family: Arial, Helvetica, sans-serif;
}
#sidepro{
    display: flex;
    gap: 20px;
}
#sidebar{
 
    width: 300px;
}
#products{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-gap: 10px;
}
#mdiv{
    display: flex;
    height: 300px;
    width: 300px;
    /* border: 1px solid red; */
}
#mdiv > div> img{
    height: 40px;
   
    /* width: 50px; */
    padding-top: 30px;
    padding-right: 5px;
    
}

#divTwo{
    /* border: 1px solid red; */
    height: 50px;
    /* width: 120px; */
    font-size: 20px;
    padding-left: 10px;
}

#offdiv{
    /* width: 150px; */
    text-align: right;
    color: red;
    height: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    
}
#mainDiv{
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;

    height: 350px;
    width: 330px;
    

}
#mainDiv:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
#imgid{
    margin-left: 20px;
    margin-top: 5px;
    height: 300PX;
    width: 300px;
    
}
#fresh{
    color: gray;
    font-size: 20px;
}
#logo{
    width: 18px;
    height: 18px;
}
#price2{
    text-decoration: line-through;
    margin-right: 5px;
    color: grey;
}

#btndiv{
    display: flex;
    margin-top: 10px;
    
}

#cartbtn{
    background-color: rgb(243, 167, 26);
    width: 140px;
    height: 26px;
    margin-left: 10px;
    border: 0.2px;
    cursor: pointer;

}
#coldiv{
    height: 350px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}
#cat{
     border: 1px solid red; 
    width: 250px;
    height: 2000px;
    font-size: 20px;
    padding-left: 15px;
    margin-left: 150px;
    color: gray;
    border-right: 1px solid gray;
}

#inp{
    height: 20px;
    width: 220px;
}

#cont{
    display: flex;
}
#types{
    font-size: 16px;
    line-height: 5px;
    padding-left: 10px;    
}
#types>p:hover{
    color: rgb(129,227,143);
    cursor: pointer;
}
#hov:hover{
    color: rgb(129,227,143);
    cursor: pointer;
}
#color{
    text-decoration: underline 3px rgb(132,194,37);
}
#brand>input>input:hover{
    color: rgb(129,227,143);
    cursor: pointer;
}
#slide{
    margin-left: 150px;
    margin-bottom: 20px;
}
#fruits{
margin-left: 420px;
font-size: 25px;
color: gray;
}
#sortPrice{
    margin-left: 66%;
    height: 30px;
    width: 230px;
    border: 1px solid rgb(132,194,37);
    margin-bottom: 20px;
}
#price,#origin,#seasonal,#pack,#brand{
    font-size: 18px;
    line-height: 22px;
}